<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet" />
    <link href="./header.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="class_1">
        <div class="class_2"></div>
        <div class="class_3"></div>
        <span class="class_4" >COLLECTIONS</span>
        <span class="class_5">GENERAL</span>
        <span class="class_6">ORDER</span>
        <span class="class_7">SHOP</span>
    </div>
</body>
</html>
