body {
    width: 100%;
    height: 100%;
    margin: 0; /* Reset default margin */
    background-color: #C8B6AC;
    font-family: Inknut Antiqua;
}

.header {
    font-size: 550%;
    color: #EDE3D9;
    text-align: center;
    font-family: Inknut Antiqua;
}

.color {
    background-color: #C8B6AC;
    height: 80vh;
}

.div {
    background-color: #C8B6AC;
    height: 20vh;
}

.item {
    margin-bottom: 20px;
}

.cards-container {
    display: flex; /* Use flexbox */
    justify-content: space-evenly;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.color .card {
    flex: 0 0 auto; /* Let cards shrink or grow as needed */
    margin-right: 20px; /* Add spacing between cards */
    padding: 20px;
    border: 1px solid #EDE3D9;
    border-radius: 5px;
    box-sizing: border-box;
    width: 300px; /* Set a fixed width for each card */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align items vertically */
    justify-content: space-between; /* Space evenly between items */
    background-color: #EDE3D9; /* Set background color */
}

.card:last-child {
    margin-right: 0; /* Remove margin for the last card */
}

.card img {
    width: 100%; /* Set width to 100% */
    height: 300px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the entire container */
}


.buy-btn {
    background-color: #C8B6AC;
    color: #EDE3D9;
    font-size: 150%;
    border-radius: 30px; /* Make the button more rounded */
    width: 100%; /* Take full width of the container */
    height: 52px; /* Set button height */
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 10px 0; /* Adjust vertical padding */
    margin-top: 10px; /* Add some spacing between image and button */
    font-family: Inknut Antiqua;
}

.titles {
    text-align: center;
    color:#EDE3D9;
    font-family: Inknut Antiqua;
}

.price {
    color: #C8B6AC;
    text-align: center;
    font-size: 200%;
    font-family: Inknut Antiqua;
}