/* styles.css */

.menu_container {
    display: flex;
    justify-content: space-between; /* Distribute items to left and right */
    align-items: center;
    background-color: #EDE3D9;
    color: #C8B6AC;
    padding: 10px;
    width: 100%;
}

.logo_link {
    display: block;
}

.logo_image {
    height: 50px; /* Adjust the height as needed */
    width: auto;
}

.menu_toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    order: 1; /* Display the menu toggle button first on the left */
}

.menu_items {
    display: flex;
    justify-content: flex-end; /* Align menu items to the right by default */
    align-items: center;
    order: 3; /* Display menu items last on the right */
}

.menu_item {
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: #C8B6AC;
    text-decoration: none;
}

.menu_item.active {
    font-weight: bold;
}

.menu_item:hover {
    /* background-color: #e7dfd6; */
    color: #C8B6AC;
    font-weight: bolder;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .menu_items {
        justify-content: flex-end; /* Align menu items to the right when screen size is minimized */
    }

    .menu_toggle {
        display: block;
        order: 1; /* Display the menu toggle button first on the left */
    }

    .menu_items {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        order: 2; /* Display menu items below the toggle button */
    }

    .menu_items.active {
        display: flex;
    }
}