<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet" />
    <link href="./css/footer.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="new_class_1">
        <div class="new_class_2"></div>
        <span class="new_class_3">Tigran Mets 7/2</span>
        <div class="new_class_4"></div>
        <span class="new_class_5">+37499102030</span>
        <div class="new_class_6"></div>
        <div class="new_class_7"></div>
        <div class="new_class_8"></div>
        <div class="new_class_9"></div>
        <div class="new_class_10"></div>
    </div>
</body>

</html>