/* styles.css */

.menu_container {
    font-family: Inknut Antiqua;
    display: flex;
    justify-content: space-between; /* Distribute items to left and right */
    align-items: center;
    background-color: #EDE3D9;
    color: #C8B6AC;
    padding: 10px;
    width: 100%;
}

.logo_link {
    font-family: Inknut Antiqua;
    display: block;
}

.logo_image {
    height: 50px; /* Adjust the height as needed */
    width: auto;
}

.div_1 {
    font-family: Inknut Antiqua;
    display: flex;
    flex-direction: row;
}

.div_2 {
    font-family: Inknut Antiqua;
    display: flex;
    flex-direction: row;
}

.footer_container {
    font-family: Inknut Antiqua;
    position: relative; /* Ensure the container has a position set */
}

.div_3 {
    font-family: Inknut Antiqua;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: -40%;
    bottom: 30%;
}

.divgeneral {
    display: flex;
    flex-direction: column;
}

.footer_container {
    background-color: #EDE3D9;
}

.menu_toggle {
    font-family: Inknut Antiqua;
    display: none;
    font-size: 24px;
    cursor: pointer;
    order: 1; /* Display the menu toggle button first on the left */
}

.menu_items {
    font-family: Inknut Antiqua;
    display: flex;
    justify-content: flex-end; /* Align menu items to the right by default */
    align-items: center;
    order: 3; /* Display menu items last on the right */
    font-size: 200%;
}

.menu_item {
    font-family: Inknut Antiqua;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: #C8B6AC;
    text-decoration: none;
}

.menu_item.active {
    font-weight: bold;
}

.menu_item:hover {
    font-family: Inknut Antiqua;
    color: #C8B6AC;
    font-weight: bolder;
}

.textcolor {
    font-family: Inknut Antiqua;
    color: #C8B6AC;
    font-size: 200%;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .menu_items {
        justify-content: flex-end; /* Align menu items to the right when screen size is minimized */
    }

    .menu_toggle {
        display: block;
        order: 1; /* Display the menu toggle button first on the left */
    }

    .menu_items {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        order: 2; /* Display menu items below the toggle button */
    }

    .menu_items.active {
        display: flex;
    }
}



