<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet" />
    <link href="./css/header.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <div class="newClass1">
        <div class="newClass2"></div>
        <span class="newClass3">COLLECTIONS</span>
        <span class="newClass4">ORDER</span>
        <div class="newClass5">
            <div class="newClass6"></div>
            <span class="newClass7">SHOP</span>
        </div>
        <span class="newClass8">GENERAL</span>
        <div class="newClass9"></div>
    </div>
</body>
</html>
