* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.new_class_1 {
  width: 100%;
  height: 2685px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.new_class_2 {
  width: 100%;
  height: 855px;
  background: rgba(200,182,172,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.new_class_3 {
  width: 100%;
  height: 100%;
  background: rgba(237,227,217,1);
  opacity: 1;
  position: absolute;
  top: 855px;
  left: 0px;
  overflow: hidden;
}
.new_class_4 {
  width: 360px;
  height: 461px;
  background: url("../images/design.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1222px;
  left: 975px;
  overflow: hidden;
}
.new_class_5 {
  width: 360px;
  height: 461px;
  background: url("../images/corporate.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1222px;
  left: 535px;
  overflow: hidden;
}
.new_class_6 {
  width: 360px;
  height: 461px;
  background: url("../images/individual.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1222px;
  left: 109px;
  overflow: hidden;
}
.new_class_7 {
  width: 374px;
  height: 532px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 323px;
  left: 0px;
  overflow: hidden;
}
.new_class_8 {
  width: 358px;
  height: 563px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 1082px;
  overflow: hidden;
}
.new_class_9 {
  width: 569px;
  color: rgba(200,182,172,1);
  position: absolute;
  top: 973px;
  left: 436px;
  font-family: Inknut Antiqua;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.new_class_10 {
  width: 329px;
  height: 487px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2185px;
  left: 1110px;
  overflow: hidden;
}
.new_class_11 {
  width: 377px;
  height: 537px;
  background: url("../images/photo1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 323px;
  left: 1063px;
  overflow: hidden;
}
.new_class_12 {
  width: 473px;
  height: 428px;
  background: url("../images/frame1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 483px;
  overflow: hidden;
}
.new_class_13 {
  width: 155px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 642px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.new_class_14 {
  width: 155px;
  height: 38px;
  background: rgba(200,182,172,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.new_class_15 {
  width: 68px;
  color: rgba(237,227,217,1);
  position: absolute;
  top: 0px;
  left: 43px;
  font-family: Inknut Antiqua;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.new_class_16 {
  width: 100%;
  color: rgba(237,227,217,1);
  position: absolute;
  top: 109px;
  left: 105px;
  font-family: Inknut Antiqua;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.new_class_17 {
  width: 375px;
  height: 533px;
  background: url("../images/photo2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 1px;
  overflow: hidden;
}
.new_class_18 {
  width: 100%;
  height: 781px;
  background: rgba(200,182,172,1);
  opacity: 1;
  position: absolute;
  top: 1904px;
  left: 0px;
  overflow: hidden;
}
.new_class_19 {
  width: 604px;
  height: 438px;
  background: url("../images/frame2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1904px;
  left: 715px;
  overflow: hidden;
}
.new_class_20 {
  width: 206px;
  height: 78px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2209px;
  left: 913px;
  overflow: hidden;
}
.new_class_21 {
  width: 206px;
  height: 53px;
  background: rgba(200,182,172,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  overflow: hidden;
}
.new_class_22 {
  width: 164px;
  color: rgba(237,227,217,1);
  position: absolute;
  top: 0px;
  left: 17px;
  font-family: Inknut Antiqua;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.new_class_23 {
  width: 419px;
  color: rgba(200,182,172,1);
  position: absolute;
  top: 1960px;
  left: 807px;
  font-family: Inknut Antiqua;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.new_class_24 {
  width: 606px;
  color: rgba(237,227,217,1);
  position: absolute;
  top: 2310px;
  left: 84px;
  font-family: Inknut Antiqua;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.new_class_25 {
  width: 329px;
  height: 487px;
  background: url("../images/photo3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2198px;
  left: 1111px;
  overflow: hidden;
}