<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet" />
	<link href="./collections.css" rel="stylesheet" />
	<title>Document</title>
</head>
<body>
	<div class="class_1">
		<div class="class_2"></div>
		<div class="class_3">
			<div class="class_4"></div>
			<div class="class_5"></div>
			<div class="class_6"></div>
			<div class="class_7">
				<div class="class_8"></div>
				<div class="class_9"></div>
				<div class="class_10"></div>
			</div>
		</div>
		<div class="class_11">
			<div class="class_12"></div>
			<div class="class_13"></div>
			<div class="class_14"></div>
			<div class="class_15">
				<div class="class_16"></div>
				<div class="class_17"></div>
				<div class="class_18"></div>
			</div>
		</div>
		<div class="class_19">
			<div class="class_20"></div>
			<div class="class_21"></div>
			<div class="class_22"></div>
		</div>
		<div class="class_23"></div>
		<span class="class_24">COLLECTIONS</span>
		<div class="name"></div>
		<div class="name"></div>
		<div class="name"></div>
		<span class="class_25">GIFT BOUQUET</span>
		<span class="class_26">WEDDING BOUQUET</span>
		<span class="class_27">TOP SELLING</span>
		<div class="class_28">
			<div class="class_29"></div>
			<div class="class_30"></div>
			<div class="class_31"></div>
		</div>
		<div class="class_32">
			<div class="class_33"></div>
			<div class="class_34"></div>
			<div class="class_35"></div>
		</div>
		<div class="class_36">
			<div class="class_37"></div>
			<div class="class_38"></div>
			<div class="class_39"></div>
		</div>
		<div class="class_40">
			<div class="class_41"></div>
			<div class="class_42"></div>
			<div class="class_43"></div>
		</div>
		<div class="class_44"></div>
		<div class="class_45"></div>
		<div class="class_46"></div>
		<div class="class_47"></div>
		<div class="class_48"></div>
		<div class="class_49"></div>
		<div class="class_50"></div>
		<div class="class_51"></div>
		<div class="class_52"></div>
	</div>
</body>
</html>