* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.class_1 {
  width: 100%;
  height: 2311px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.class_2 {
  width: 100%;
  height: 100%;
  background: rgba(200,182,172,1);
  opacity: 1;
  position: absolute;
  top: 229px;
  left: 0px;
  overflow: hidden;
}
.class_3 {
  width: 100%;
  height: 435px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1784px;
  left: 161px;
  overflow: hidden;
}
.class_4 {
  width: 280px;
  height: 435px;
  background: rgba(237,227,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.class_5 {
  width: 280px;
  height: 435px;
  background: rgba(237,227,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 838px;
  overflow: hidden;
}
.class_6 {
  width: 280px;
  height: 435px;
  background: rgba(237,227,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 419px;
  overflow: hidden;
}
.class_7 {
  width: 938px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 91px;
  overflow: hidden;
}
.class_8 {
  width: 100px;
  height: 52px;
  background: url("./images/buy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.class_9 {
  width: 100px;
  height: 52px;
  background: url("./images/buy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 420px;
  overflow: hidden;
}
.class_10 {
  width: 100px;
  height: 52px;
  background: url("./images/buy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 838px;
  overflow: hidden;
}
.class_11 {
  width: 100%;
  height: 435px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1090px;
  left: 162px;
  overflow: hidden;
}
.class_12 {
  width: 280px;
  height: 435px;
  background: rgba(237,227,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.class_13 {
  width: 280px;
  height: 435px;
  background: rgba(237,227,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 838px;
  overflow: hidden;
}
.class_14 {
  width: 280px;
  height: 435px;
  background: rgba(237,227,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 419px;
  overflow: hidden;
}
.class_15 {
  width: 938px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 89px;
  overflow: hidden;
}
.class_16 {
  width: 100px;
  height: 52px;
  background: url("./images/buy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.class_17 {
  width: 100px;
  height: 52px;
  background: url("./images/buy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 420px;
  overflow: hidden;
}
.class_18 {
  width: 100px;
  height: 52px;
  background: url("./images/buy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 838px;
  overflow: hidden;
}
.class_19 {
  width: 100%;
  height: 435px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 161px;
  overflow: hidden;
}
.class_20 {
  width: 280px;
  height: 435px;
  background: rgba(237,227,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.class_21 {
  width: 280px;
  height: 435px;
  background: rgba(237,227,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 838px;
  overflow: hidden;
}
.class_22 {
  width: 280px;
  height: 435px;
  background: rgba(237,227,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 419px;
  overflow: hidden;
}
.class_23 {
  width: 100%;
  height: 229px;
  background: rgba(200,182,172,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.class_24 {
  width: 838px;
  color: rgba(237,227,217,1);
  position: absolute;
  top: 0px;
  left: 301px;
  font-family: Inknut Antiqua;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.class_25 {
  width: 336px;
  color: rgba(237,227,217,1);
  position: absolute;
  top: 266px;
  left: 552px;
  font-family: Inknut Antiqua;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.class_26 {
  width: 446px;
  color: rgba(237,227,217,1);
  position: absolute;
  top: 960px;
  left: 497px;
  font-family: Inknut Antiqua;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.class_27 {
  width: 293px;
  color: rgba(237,227,217,1);
  position: absolute;
  top: 1654px;
  left: 574px;
  font-family: Inknut Antiqua;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.class_28 {
  width: 100%;
  height: 326px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 176px;
  overflow: hidden;
}
.class_29 {
  width: 268px;
  height: 306px;
  background: url("./images/flower_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 416px;
  overflow: hidden;
}
.class_30 {
  width: 252px;
  height: 316px;
  background: url("./images/flower_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 839px;
  overflow: hidden;
}
.class_31 {
  width: 265px;
  height: 316px;
  background: url("./images/flower_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.class_32 {
  width: 100%;
  height: 322px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1091px;
  left: 180px;
  overflow: hidden;
}
.class_33 {
  width: 240px;
  height: 322px;
  background: url("./images/flower_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 859px;
  overflow: hidden;
}
.class_34 {
  width: 201px;
  height: 282px;
  background: url("./images/flower_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 461px;
  overflow: hidden;
}
.class_35 {
  width: 246px;
  height: 301px;
  background: url("./images/flower_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.class_36 {
  width: 100%;
  height: 309px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1784px;
  left: 186px;
  overflow: hidden;
}
.class_37 {
  width: 232px;
  height: 291px;
  background: url("./images/flower_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  overflow: hidden;
}
.class_38 {
  width: 230px;
  height: 303px;
  background: url("./images/flower_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 419px;
  overflow: hidden;
}
.class_39 {
  width: 250px;
  height: 306px;
  background: url("./images/flower_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 828px;
  overflow: hidden;
}
.class_40 {
  width: 938px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 251px;
  overflow: hidden;
}
.class_41 {
  width: 100px;
  height: 52px;
  background: url("./images/buy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.class_42 {
  width: 100px;
  height: 52px;
  background: url("./images/buy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 420px;
  overflow: hidden;
}
.class_43 {
  width: 100px;
  height: 52px;
  background: url("./images/buy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 838px;
  overflow: hidden;
}
.class_44 {
  width: 200px;
  height: 52px;
  background: url("./images/cost_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1463px;
  left: 1041px;
  overflow: hidden;
}
.class_45 {
  width: 200px;
  height: 52px;
  background: url("./images/cost_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1463px;
  left: 620px;
  overflow: hidden;
}
.class_46 {
  width: 200px;
  height: 52px;
  background: url("./images/cost_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1463px;
  left: 203px;
  overflow: hidden;
}
.class_47 {
  width: 200px;
  height: 52px;
  background: url("./images/cost_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 209px;
  overflow: hidden;
}
.class_48 {
  width: 200px;
  height: 52px;
  background: url("./images/cost_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 626px;
  overflow: hidden;
}
.class_49 {
  width: 200px;
  height: 52px;
  background: url("./images/cost_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 1039px;
  overflow: hidden;
}
.class_50 {
  width: 200px;
  height: 52px;
  background: url("./images/cost_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2157px;
  left: 1041px;
  overflow: hidden;
}
.class_51 {
  width: 200px;
  height: 52px;
  background: url("./images/cost_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2157px;
  left: 201px;
  overflow: hidden;
}
.class_52 {
  width: 200px;
  height: 52px;
  background: url("./images/cost_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2157px;
  left: 622px;
  overflow: hidden;
}
