.alert-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EDE3D9;
    border-radius: 25%;
    padding: 20px;
    border: 2px solid #C9B8AE;
    /* Adjust height and width */
    height: 35%; /* Change the height as needed */
    width: 25%; /* Change the width as needed */
}


.alert-content {
    padding-top: 23%;
    text-align: center;
    font-size: 300%;
    font-family: Inknut Antiqua;
    color: #C9B8AE;
}

.close-btn {
    position: absolute;
    top: 10%;
    right: 8%;
    height: 17%;
    width: 17%;
    cursor: pointer;
    color: #EDE3D9;
    background-color: #C9B8AE;
    border-radius: 100%;
}
