<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./general.css">
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet"/>
    <script type="text/javascript" src="./js/general.js"></script>
</head>
<body>
    <div class="new_class_1">
        <div class="new_class_2"></div>
        <div class="new_class_3"></div>
        <div class="new_class_4"></div>
        <div class="new_class_5"></div>
        <div class="new_class_6"></div>
        <div class="new_class_7"></div>
        <div class="new_class_8"></div>
        <span class="new_class_9">OUR SERVICES</span>
        <div class="new_class_10"></div>
        <div class="new_class_11"></div>
        <div class="new_class_12"></div>
        <div class="new_class_13">
            <div class="new_class_14"></div>
            <span class="new_class_15">SHOP</span>
        </div>
        <span class="new_class_16">FLOWERS BOUTIQUE</span>
        <div class="new_class_17"></div>
        <div class="new_class_18"></div>
        <div class="new_class_19"></div>
        <div class="new_class_20">
            <div class="new_class_21"></div>
            <span class="new_class_22">Let’s talk</span>
        </div>
        <span class="new_class_23">Talk to our staff</span>
        <span class="new_class_24">Realize your ideas  with us</span>
        <div class="new_class_25"></div>
    </div>
</body>
</html>